In [32]:
import pandas as pd
import numpy as np

In [33]:
df = pd.read_csv('C:/JK/Masters Studies/Fall 2017/DS501/Case Study 4/soundcloud.csv')

In [34]:
df.head()

,city,genres_list,tags_list,user_id
0,Maryland,"['Hip-hop & Rap', 'Hip-hop & Rap', 'Hip-hop & ...","['""Eyes Closed"" ""Johnny Yukon"" Gizzle Invincib...",76718083
1,miami,['Latin'],['Bachata Vallenato BachatadeAcordeon Colombia...,53551113
2,brooklyn,[],[],260489226
3,Winston Salem,"['Rock', 'Classical', 'Classical', 'Classical'...","['sunfold ""kenny florence""', 'Classical ""Derek...",85065739
4,united states,['Pop'],"['""Dance Pop""', 'soundcloud:source=web-record ...",105357326

In [35]:
df['city'].unique().shape

(871,)

In [36]:
df.tail()

,city,genres_list,tags_list,user_id
1568,UNITED STATES,"['sikwitit', 'Rnb', 'Hip Hop', 'fat trel', 'Ra...",['imsosik GabeParker ItNeverMattered Producer ...,15130608
1569,"Chico, California","['Supa Bwe', 'Hip-hop & Rap', 'Hip-hop & Rap',...","['""Hurt Everybody""', 'Calm Vibes ""Hip Hop"" Rap...",156090353
1570,New York City,"['Hip-hop & Rap', 'Мы Летим', 'Radio', 'Hello'...",['Banger amerikos krisamerikos zame runthatshi...,195583988
1571,Hackensack,"['Inspiration,Children, Hope, Charity', 'ed ro...",['soundcloud:source=android-3rdparty-upload'],161464309
1572,Bronx,"['R&B & Soul', 'R&B & Soul', 'R&B & Soul', 'R&...","['soundcloud:source=android-3rdparty-upload', ...",271294454

In [37]:
ny_cities = ['New York','New York City','NYC','new york city','New York & Philadelphia','New York, NY','NEW YORK','New York/ L.A.','NY']
df_newyork = df.loc[df['city'].isin(ny_cities)]
df_newyork.shape
df_newyork.loc[df_newyork['city'].isin(ny_cities), 'city'] = 'New York City'
df_newyork.head()
df_newyork['city'].value_counts()

C:\Users\JanviKay\Anaconda3\lib\site-packages\pandas\core\indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

New York City    96
Name: city, dtype: int64

In [38]:
boston_cities = ['Boston','Boston, Texas','Boston MA ,United states','Boston, Massachusetts - Austin, Texas','Boston, Massachusetts ','BOSTON','Boston, Massachusetts']
df_boston = df.loc[df['city'].isin(boston_cities)]
df_boston.shape
df_boston.loc[df_boston['city'].isin(boston_cities), 'city'] = 'Boston'
df_boston.head()
df_boston['city'].value_counts()

C:\Users\JanviKay\Anaconda3\lib\site-packages\pandas\core\indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

Boston    21
Name: city, dtype: int64

In [39]:
la_cities = ['Los Angeles, CA','Los Angeles','L.A','Los Angeles Area','Los Angeles, California','Los Angeles // Santa Barbara','los angeles','Los Angeles, California','LOS ANGELES','LosAngeles','Los Angeles, CA + Phoenix, AZ']
df_la = df.loc[df['city'].isin(la_cities)]
df_la.shape
df_la.loc[df_la['city'].isin(la_cities), 'city'] = 'Los Angeles'
df_la.head()
df_la['city'].value_counts()

C:\Users\JanviKay\Anaconda3\lib\site-packages\pandas\core\indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

Los Angeles    81
Name: city, dtype: int64

In [40]:
df_newyork.head()

,city,genres_list,tags_list,user_id
26,New York City,"['Techno', 'Techh']",['techno Tech technosis'],178380972
35,New York City,"['Rock Folk', 'Rock', 'Complextro']","['lottery prayer', 'vocal moaning u2 sounding'...",61579468
50,New York City,"['Haiti', 'Mothers Day', 'Reggae', 'change', '...",['Haitian Konpa Gospel Levanjil adorasyon ador...,82805002
78,New York City,"['Business', 'Business']","['""cash loans no checking account"" ""cash loans...",298525092
118,New York City,"['Techno', 'Dance & EDM']","['Acid Mental', 'Bounce House ""PC Music"" Pop ""...",271352449

In [41]:

def explode(df, lst_cols, fill_value=''):
    # make sure `lst_cols` is a list
    if lst_cols and not isinstance(lst_cols, list):
        lst_cols = [lst_cols]
    # all columns except `lst_cols`
    idx_cols = df.columns.difference(lst_cols)

    # calculate lengths of lists
    lens = df[lst_cols[0]].str.len()

    if (lens > 0).all():
        # ALL lists in cells aren't empty
        return pd.DataFrame({
            col:np.repeat(df[col].values, df[lst_cols[0]].str.len())
            for col in idx_cols
        }).assign(**{col:np.concatenate(df[col].values) for col in lst_cols}) \
          .loc[:, df.columns]
    else:
        # at least one list in cells is empty
        return pd.DataFrame({
            col:np.repeat(df[col].values, df[lst_cols[0]].str.len())
            for col in idx_cols
        }).assign(**{col:np.concatenate(df[col].values) for col in lst_cols}) \
          .append(df.loc[lens==0, idx_cols]).fillna(fill_value) \
          .loc[:, df.columns]

In [42]:
df_nyc =explode(df_newyork.assign(var1=df_newyork.genres_list.str.split(',')), 'var1')
df_nyc_csv = explode(df_nyc.assign(var2 = df_nyc.tags_list.str.split(',')),'var2')
df_nyc_space = explode(df_nyc_csv.assign(var3 =df_nyc_csv.var2.str.split(' ')),'var3')

In [43]:
df_nyc_csv.head()

,city,genres_list,tags_list,user_id,var1,var2
0,New York City,"['Techno', 'Techh']",['techno Tech technosis'],178380972,['Techno',['techno Tech technosis']
1,New York City,"['Techno', 'Techh']",['techno Tech technosis'],178380972,'Techh'],['techno Tech technosis']
2,New York City,"['Rock Folk', 'Rock', 'Complextro']","['lottery prayer', 'vocal moaning u2 sounding'...",61579468,['Rock Folk',['lottery prayer'
3,New York City,"['Rock Folk', 'Rock', 'Complextro']","['lottery prayer', 'vocal moaning u2 sounding'...",61579468,['Rock Folk','vocal moaning u2 sounding'
4,New York City,"['Rock Folk', 'Rock', 'Complextro']","['lottery prayer', 'vocal moaning u2 sounding'...",61579468,['Rock Folk',"'EDM ""Porter Robinson"" Makj tsunami stampede ..."

In [44]:
df_nyc_space.head()

,city,genres_list,tags_list,user_id,var1,var2,var3
0,New York City,"['Techno', 'Techh']",['techno Tech technosis'],178380972,['Techno',['techno Tech technosis'],['techno
1,New York City,"['Techno', 'Techh']",['techno Tech technosis'],178380972,['Techno',['techno Tech technosis'],Tech
2,New York City,"['Techno', 'Techh']",['techno Tech technosis'],178380972,['Techno',['techno Tech technosis'],technosis']
3,New York City,"['Techno', 'Techh']",['techno Tech technosis'],178380972,'Techh'],['techno Tech technosis'],['techno
4,New York City,"['Techno', 'Techh']",['techno Tech technosis'],178380972,'Techh'],['techno Tech technosis'],Tech

In [45]:
df_bos = explode(df_boston.assign(var1=df_boston.genres_list.str.split(',')), 'var1')
df_bos_csv = explode(df_bos.assign(var2 = df_bos.tags_list.str.split(',')),'var2')
df_bos_space = explode(df_bos_csv.assign(var3 = df_bos_csv.var2.str.split(' ')),'var3')

In [46]:
df_bos_csv.head()

,city,genres_list,tags_list,user_id,var1,var2
0,Boston,"['news', 'StarTalk Radio', 'Indie Rock']","['""talk show"" ""talk radio"" ""gordon deal"" obama...",165388705,['news',"['""talk show"" ""talk radio"" ""gordon deal"" obama..."
1,Boston,"['news', 'StarTalk Radio', 'Indie Rock']","['""talk show"" ""talk radio"" ""gordon deal"" obama...",165388705,['news',"'StarTalk Science Politics ""StarTalk SoundBit..."
2,Boston,"['news', 'StarTalk Radio', 'Indie Rock']","['""talk show"" ""talk radio"" ""gordon deal"" obama...",165388705,'StarTalk Radio',"['""talk show"" ""talk radio"" ""gordon deal"" obama..."
3,Boston,"['news', 'StarTalk Radio', 'Indie Rock']","['""talk show"" ""talk radio"" ""gordon deal"" obama...",165388705,'StarTalk Radio',"'StarTalk Science Politics ""StarTalk SoundBit..."
4,Boston,"['news', 'StarTalk Radio', 'Indie Rock']","['""talk show"" ""talk radio"" ""gordon deal"" obama...",165388705,'Indie Rock'],"['""talk show"" ""talk radio"" ""gordon deal"" obama..."

In [47]:
df_bos_space.head()

,city,genres_list,tags_list,user_id,var1,var2,var3
0,Boston,"['news', 'StarTalk Radio', 'Indie Rock']","['""talk show"" ""talk radio"" ""gordon deal"" obama...",165388705,['news',"['""talk show"" ""talk radio"" ""gordon deal"" obama...","['""talk"
1,Boston,"['news', 'StarTalk Radio', 'Indie Rock']","['""talk show"" ""talk radio"" ""gordon deal"" obama...",165388705,['news',"['""talk show"" ""talk radio"" ""gordon deal"" obama...","show"""
2,Boston,"['news', 'StarTalk Radio', 'Indie Rock']","['""talk show"" ""talk radio"" ""gordon deal"" obama...",165388705,['news',"['""talk show"" ""talk radio"" ""gordon deal"" obama...","""talk"
3,Boston,"['news', 'StarTalk Radio', 'Indie Rock']","['""talk show"" ""talk radio"" ""gordon deal"" obama...",165388705,['news',"['""talk show"" ""talk radio"" ""gordon deal"" obama...","radio"""
4,Boston,"['news', 'StarTalk Radio', 'Indie Rock']","['""talk show"" ""talk radio"" ""gordon deal"" obama...",165388705,['news',"['""talk show"" ""talk radio"" ""gordon deal"" obama...","""gordon"

In [48]:
df_losAng = explode(df_la.assign(var1=df_la.genres_list.str.split(',')), 'var1')
df_losAng_csv = explode(df_losAng.assign(var2 = df_losAng.tags_list.str.split(',')),'var2')
df_losAng_space = explode(df_losAng_csv.assign(var3=df_losAng_csv.var2.str.split(' ')),'var3')

In [49]:
df_losAng_csv.head()

,city,genres_list,tags_list,user_id,var1,var2
0,Los Angeles,"['J-ROD SULLIVAN', 'Liquid Drum & Bass', 'SOUL...","['MARIO ""LIVE ARRANGEMENT"" ""LET ME LOVE YOU"" ""...",54181906,['J-ROD SULLIVAN',"['MARIO ""LIVE ARRANGEMENT"" ""LET ME LOVE YOU"" ""..."
1,Los Angeles,"['J-ROD SULLIVAN', 'Liquid Drum & Bass', 'SOUL...","['MARIO ""LIVE ARRANGEMENT"" ""LET ME LOVE YOU"" ""...",54181906,['J-ROD SULLIVAN',"'"" UK"" Hitman'"
2,Los Angeles,"['J-ROD SULLIVAN', 'Liquid Drum & Bass', 'SOUL...","['MARIO ""LIVE ARRANGEMENT"" ""LET ME LOVE YOU"" ""...",54181906,['J-ROD SULLIVAN','Justin Patrick Ford'
3,Los Angeles,"['J-ROD SULLIVAN', 'Liquid Drum & Bass', 'SOUL...","['MARIO ""LIVE ARRANGEMENT"" ""LET ME LOVE YOU"" ""...",54181906,['J-ROD SULLIVAN','Ink EP Ambient Electronic Pop Tusks'
4,Los Angeles,"['J-ROD SULLIVAN', 'Liquid Drum & Bass', 'SOUL...","['MARIO ""LIVE ARRANGEMENT"" ""LET ME LOVE YOU"" ""...",54181906,['J-ROD SULLIVAN',"'tyrese ""trey songz"

In [50]:
df_losAng_space.head()

,city,genres_list,tags_list,user_id,var1,var2,var3
0,Los Angeles,"['J-ROD SULLIVAN', 'Liquid Drum & Bass', 'SOUL...","['MARIO ""LIVE ARRANGEMENT"" ""LET ME LOVE YOU"" ""...",54181906,['J-ROD SULLIVAN',"['MARIO ""LIVE ARRANGEMENT"" ""LET ME LOVE YOU"" ""...",['MARIO
1,Los Angeles,"['J-ROD SULLIVAN', 'Liquid Drum & Bass', 'SOUL...","['MARIO ""LIVE ARRANGEMENT"" ""LET ME LOVE YOU"" ""...",54181906,['J-ROD SULLIVAN',"['MARIO ""LIVE ARRANGEMENT"" ""LET ME LOVE YOU"" ""...","""LIVE"
2,Los Angeles,"['J-ROD SULLIVAN', 'Liquid Drum & Bass', 'SOUL...","['MARIO ""LIVE ARRANGEMENT"" ""LET ME LOVE YOU"" ""...",54181906,['J-ROD SULLIVAN',"['MARIO ""LIVE ARRANGEMENT"" ""LET ME LOVE YOU"" ""...","ARRANGEMENT"""
3,Los Angeles,"['J-ROD SULLIVAN', 'Liquid Drum & Bass', 'SOUL...","['MARIO ""LIVE ARRANGEMENT"" ""LET ME LOVE YOU"" ""...",54181906,['J-ROD SULLIVAN',"['MARIO ""LIVE ARRANGEMENT"" ""LET ME LOVE YOU"" ""...","""LET"
4,Los Angeles,"['J-ROD SULLIVAN', 'Liquid Drum & Bass', 'SOUL...","['MARIO ""LIVE ARRANGEMENT"" ""LET ME LOVE YOU"" ""...",54181906,['J-ROD SULLIVAN',"['MARIO ""LIVE ARRANGEMENT"" ""LET ME LOVE YOU"" ""...",ME

In [51]:
df_losAng_space.shape

(245199, 7)

In [52]:
df_bos_space.shape

(75047, 7)

In [53]:
df_nyc_space.shape

(318827, 7)